.contain {
  display: flex;
  box-sizing: content-box;
  /* width: 500px */
  width: 60%;
}

.contain img {
  width: 50%;
  height: auto;
  display: block;
}

.cheetah {
  flex: 0 0 35%;
  z-index: 1;
  margin-left: -100px;
}
.panda {
  flex: 0 0 80%;
  z-index: 3;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}
.dolphin {
  flex: 0 0 25%;
  z-index: 2;
  margin-left: -80px;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}
