body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  display: flex;
  width: 90%;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 2rem 2rem;
  background-color: blue;
}

.clip {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: auto;
  gap: 1rem;
  padding: 1rem 1rem;
  background-color: aquamarine;
}

.container {
  aspect-ratio: 1;
  border: 2px solid black;
 
}

.container #shape1 {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(148, 22, 22, 0.5),
    rgba(40, 19, 228, 0.5),
    rgba(211, 30, 181, 0.5)
  );
  background-size: cover;
  clip-path: circle(50px at center);
}
.container #shape2 {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(148, 22, 22, 0.5),
    rgba(40, 19, 228, 0.5),
    rgba(211, 30, 181, 0.5)
  );
  background-size: cover;
  clip-path: circle(50% at 50% 50%);
}
.container #shape3 {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(148, 22, 22, 0.5),
    rgba(40, 19, 228, 0.5),
    rgba(211, 30, 181, 0.5)
  );
  background-size: cover;
  clip-path: circle(50px at 0 0);
}
.container #shape4 {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(148, 22, 22, 0.5),
    rgba(40, 19, 228, 0.5),
    rgba(211, 30, 181, 0.5)
  );
  background-size: cover;
  clip-path: circle(25% at 25%);
}
.container #shape5 {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(148, 22, 22, 0.5),
    rgba(40, 19, 228, 0.5),
    rgba(211, 30, 181, 0.5)
  );
  background-size: cover;
  clip-path: circle(60%);
}

.hero {
  width: 100%;
  height: 40vh;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  clip-path: polygon(0 30%, 100% 0, 100% 70%, 0 100%);
}

.hero img {
  width: 100%;
  height: 100%;
}

.divider {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(
    to right,
    rgba(148, 22, 22, 0.8),
    rgba(14, 255, 26, 0.8),
    rgba(211, 30, 181, 0.8)
  );
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 55% 70%, 50% 100%, 45% 70%, 0 70%);
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 30px),
    calc(50% + 20px) calc(100% - 30px),
    50% 100%,
    calc(50% - 20px) calc(100% - 30px),
    0 calc(100% - 30px)
  );
}
